<!DOCTYPE html>
<html>
<head>
    <title>BooksApp</title>
    <%- include('common/styles') %>
</head>
<body>
    <%- include('common/navbar') %>
    <h1>Welcome to BooksApp</h1>
    <p>Explore authors, books, reviews and sales statistics.</p>
    <a href="/books">Go to Books</a>
</body>
</html>
