<!DOCTYPE html>
<html>
<head>
    <title>Top Rated Books</title>
    <%- include('common/styles') %>
</head>
<body>
    <%- include('common/navbar') %>
    <h1>Top 10 Rated Books</h1>
    <p>POR HACER: tabla con top 10 libros más valorados, incluyendo la review más popular, la mejor y la peor.</p>
</body>
</html>
