<!DOCTYPE html>
<html>
<head>
    <title>Top Selling Books</title>
    <%- include('common/styles') %>
</head>
<body>
    <%- include('common/navbar') %>
    <div style="padding: 0 5%;">
        <h1>Top 50 Selling Books</h1>
        <p>POR HACER: tabla con los 50 libros más vendidos, ventas totales por libro, ventas por autor, y si estuvo en el top 5 de su año.</p>
    </div>
</body>
</html>
